{% extends 'admin/base.html' %}

<!-- Titulo -->
{% block title %} Login {% endblock %}

<!-- Conteudo -->

{% block desc %} Administração {% endblock %} {% block content %}

<div class="uk-section uk-section-muted" uk-height-viewport="expand: true">
    <div class="uk-container uk-container-xsmall">

        <div class="uk-grid uk-flex-center" uk-grid>
            <div class=" uk-width-1-2@s">
                <div class="uk-card uk-card-default uk-card-body">

                    <h3 class="uk-card-title">Bem vindo! :)</h3>

                    <form class="uk-margin-medium-top" method="POST" action="{{ url_for('Login') }}">

                        {{ form.csrf_token }}

                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <i class="uk-form-icon" uk-icon="icon: user"></i> {{ form.username(class_ = "uk-input uk-form-danger" if form.username.errors else "uk-input", placeholder = form.username.label.text, required=False)}}
                            </div>
                            {% for error in form.username.errors %}
                            <p class="uk-margin-remove uk-text-small uk-text-danger">{{error}}</p>
                            {% endfor %}
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <i class="uk-form-icon" uk-icon="icon: lock"></i> {{ form.password(class_ = "uk-input uk-form-danger" if form.password.errors else "uk-input", placeholder = form.password.label.text, required=False)}}
                            </div>
                            {% for error in form.password.errors %}
                            <p class="uk-margin-remove uk-text-small uk-text-danger">{{error}}</p>
                            {% endfor %}
                        </div>

                        <p class="uk-text-center">
                            <button class="uk-button uk-button-text" type="button" id="ForgotPassword" style="font-size:.75rem">Esqueceu a senha?</button>
                        </p>

                        <button class="uk-button uk-button-default uk-width-1-1">Acessar</button>


                    </form>

                </div>
            </div>
        </div>




    </div>
</div>

<script>
    $("#ForgotPassword").click(function() {
        UIkit.modal.prompt('Username:', '', {
            labels: {
                ok: 'Recuperar Senha',
                cancel: 'Fechar'
            }
        }).then(function(username) {
            if (username) {
                window.location.href = "/recoverpass/" + username
            }
        })
    })

    $(document).ready(function() {
        if ("{{message_pass}}" != "" && "{{message_pass}}" != undefined && "{{message_pass}}" != "None") {
            UIkit.modal.alert('{{message_pass}}')
        }
    })
</script>


{% endblock %}