<section class="vertical-scrolling" style="background-size:100vw 100vh; background-image:url({{ url_for('static', filename='img/bg_degrade.jpg') }})">

    <div class="content animated">

        <div class="slider animated">

            <div class="content-text content-contact-small">

                <h1 class="contact_left" style="margin-bottom:1rem">
                    [ Venha tomar um café conosco ... ]
                </h1>


                <div class="contact_right mobile">

                    <div class="my-4">
                        <p class="mb-2 contact_right_mobile" style="font-weight:200;font-weight:200; font-size:1rem "> <i class="fas fa-phone " style="width: 30px; "></i> <span>{{contact.phone_1}}</span> <span class="ml-2 ">{{contact.phone_2}}</span> </p>
                        <p class="mb-2 contact_right_mobile" style="font-weight:200;font-weight:200; font-size:1rem "> <i class="fas fa-envelope " style="width: 30px; "></i> {{contact.email}} </p>
                        <p class="mb-1 pb-0 contact_right_mobile" style="font-weight:200;font-weight:200; font-size:1rem "> <i class="fas fa-map-marker-alt " style="width: 30px; "></i> {{contact.address_1}} </p>
                        <p class="m-0 p-0 contact_right_mobile" style="font-weight:200;;font-weight:200; font-size:1rem "> <i class="fas fa-map-marker-alt " style="width: 30px;opacity:0 "></i> {{contact.address_2}} </p>
                    </div>

                </div>

                <form method="POST" id="contact-form" action="{{url_for('FormContact')}}">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                    <div class="form-group">
                        <input type="text" name="name" class="form-control validate contact_left" required style="background-color:rgba(255,255,255,0.5); border:none; color:white; font-weight:600" placeholder="Nome: ">
                    </div>

                    <div class="form-group">
                        <input type="text" name="phone" class="form-control validate contact_left" required style="background-color:rgba(255,255,255,0.5); border:none; color:white; font-weight:600" placeholder="Telefone: ">
                    </div>

                    <div class="form-group">
                        <input type="text" name="email" class="form-control validate contact_left" required style="background-color:rgba(255,255,255,0.5); border:none; color:white; font-weight:600" placeholder="E-mail: ">
                    </div>

                    <div class="form-group">
                        <textarea rows=3 name="message" class="form-control validate contact_left" required style="background-color:rgba(255,255,255,0.5); border:none; color:white; font-weight:600" placeholder="Mensagem: "></textarea>
                    </div>

                    <button type="button" id="contact-form-button" style="z-index:999999999;float:right; margin-top:0" class="button-primary contact_left">Enviar
                    <img style="width:30px;" class="ml-3" src="{{ url_for('static', filename='img/logoinvertido.png') }}"></button>

                </form>



            </div>

            <div style="width:40vw;position: absolute;right: 7vh;top: -2vw;" class="contact_right desktop">
                {% include 'svg/contact.html' %}

                <div class="px-3 mt-4">
                    <p class="mb-2 contact_right" style="font-weight:200;font-weight:200; font-size:1.4rem "> <i class="fas fa-phone " style="width: 30px; "></i> <span>{{contact.phone_1}}</span> <span class="ml-2 ">{{contact.phone_2}}</span> </p>
                    <p class="mb-2 contact_right" style="font-weight:200;font-weight:200; font-size:1.4rem "> <i class="fas fa-envelope " style="width: 30px; "></i> {{contact.email}} </p>
                    <p class="mb-1 pb-0 contact_right" style="font-weight:200;font-weight:200; font-size:1.4rem "> <i class="fas fa-map-marker-alt " style="width: 30px; "></i> {{contact.address_1}} </p>
                    <p class="m-0 p-0 contact_right" style="font-weight:200;;font-weight:200; font-size:1.4rem "> <i class="fas fa-map-marker-alt " style="width: 30px;opacity:0 "></i> {{contact.address_2}} </p>
                </div>

            </div>





        </div>

    </div>

    <div id="form-response "></div>

    <script>
        $('#contact-form-button').click(function(event) {
            // Prevent redirection with AJAX for contact form
            var form = $('#contact-form');
            var form_id = 'contact-form';
            var url = form.prop('action');
            var type = form.prop('method');
            var formData = getContactFormData(form_id);

            // submit form via AJAX
            send_form(form, form_id, url, type, modular_ajax, formData);
        });
    </script>

</section>