<section class="vertical-scrolling" style="background-size:100vw 100vh; background-image:url({{ url_for('static', filename='img/bg_degrade.jpg') }})">

    <div class="content animated">

        <div class="slider animated">

            <h1 class="animated fadeInDown" id="newsh1" style="font-weight:800;text-align: center;width: 63vw;margin-top: -6%;position:absolute;">
                <span class="" style="color:#e1e1e1">
                    <span style="position:absolute;left:0; margin-right:10px">[</span>
                <span style="position:absolute;right:0; margin-left:10px">]</span>
                </span><span id="typed-news"></span>
            </h1>

            <div class="content-text row desktop" style="width:90%; margin-top:4%">

                <div class="col-lg">

                    <img src="data:;base64,{{news[0].image}}" style="width: 233px;height: 154px;">

                    <h6 style="margin-top:10px;margin-bottom:0px; width: 233px; font-weight:600">{{news[0].title}}</h6>

                    <div style="width:6vw; background-color:white; height:4px; margin-top:4px; margin-bottom: 15px;"></div>

                    <div style="font-size:.85em; width: 233px;">
                        {% if news[0].text|length
                        < 100 %} {{ news[0].text| safe}} {% else %} {{ news[0].text [:100]| safe}} [...] {% endif %} </div>

                    </div>

                    <div class="col-lg">

                        <img src="data:;base64,{{news[1].image}}" style="width: 233px;height: 154px;">

                        <h6 style="margin-top:10px;margin-bottom:0px; width: 233px; font-weight:600">{{news[1].title}}</h6>

                        <div style="width:6vw; background-color:white; height:4px; margin-top:4px; margin-bottom: 15px;"></div>

                        <div style="font-size:.85em; width: 233px;">
                            {% if news[1].text|length
                            < 100 %} {{ news[1].text| safe}} {% else %} {{ news[1].text [:100]| safe}} [...] {% endif %} </div>

                        </div>


                        <div class="col-lg">

                            <img src="data:;base64,{{news[2].image}}" style="width: 233px;height: 154px;">

                            <h6 style="margin-top:10px;margin-bottom:0px; width: 233px; font-weight:600">{{news[2].title}}</h6>

                            <div style="width:6vw; background-color:white; height:4px; margin-top:4px; margin-bottom: 15px;"></div>

                            <div style="font-size:.85em; width: 233px;">
                                {% if news[2].text|length
                                < 100 %} {{ news[2].text| safe}} {% else %} {{ news[2].text [:100]| safe}} [...] {% endif %} </div>

                            </div>

                        </div>



                        <div class="content-text mobile slider_news">

                            <div style="margin:auto">

                                <img src="data:;base64,{{news[0].image}}" style="width: 233px;height: 154px; margin:auto">

                                <h6 style="margin-top:10px;margin-bottom:0px; width: 233px; font-weight:600; margin:auto">{{news[0].title}}</h6>

                                <div style="width:6vw; background-color:white; height:4px; margin-top:4px; margin-bottom: 15px; margin:auto"></div>

                                <div style="font-size:.85em; width: 233px; margin:auto">
                                    {% if news[0].text|length
                                    < 400 %} {{ news[0].text| safe}} {% else %} {{ news[0].text [:400]| safe}} [...] {% endif %} <!---->
                                </div>

                            </div>

                            <div class="">

                                <img src="data:;base64,{{news[1].image}}" style="width: 233px;height: 154px; margin:auto">

                                <h6 style="margin-top:10px;margin-bottom:0px; width: 233px; font-weight:600; margin:auto">{{news[1].title}}</h6>

                                <div style="width:6vw; background-color:white; height:4px; margin-top:4px; margin-bottom: 15px; margin:auto"></div>

                                <div style="font-size:.85em; width: 233px; margin:auto">
                                    {% if news[1].text|length
                                    < 400 %} {{ news[1].text| safe}} {% else %} {{ news[1].text [:400]| safe}} [...] {% endif %} <!---->
                                </div>

                            </div>

                            <div class="">

                                <img src="data:;base64,{{news[2].image}}" style="width: 233px;height: 154px; margin:auto">

                                <h6 style="margin-top:10px;margin-bottom:0px; width: 233px; font-weight:600; margin:auto">{{news[2].title}}</h6>

                                <div style="width:6vw; background-color:white; height:4px; margin-top:4px; margin-bottom: 15px; margin:auto"></div>

                                <div style="font-size:.85em; width: 233px; margin:auto">
                                    {% if news[2].text|length
                                    < 400 %} {{ news[2].text| safe}} {% else %} {{ news[2].text [:400]| safe}} [...] {% endif %} <!---->
                                </div>

                            </div>

                        </div>

                        <button type="button" id="blog_button" style="z-index:999999999;position:absolute;bottom: 10%;" class="button-primary">Acesse o Blog
                            <img style="width:30px" class="ml-3" src="{{ url_for('static', filename='img/logoinvertido.png') }}">
                        </button>
                    </div>
                </div>

                <script>
                    $('.slider_news').slick();


                    var typed = new Typed('#typed-news', {
                        strings: ["Fique por dentro do que está acontecendo na Moondu"],
                        typeSpeed: 40,
                        shuffle: false,
                        loop: true,
                        dots: true
                    });
                </script>

</section>